

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow:hidden;
    background:#f5f7fa;
}


.left-panel{
    background: linear-gradient(
        180deg,
        #2d9cdb 0%,
        #63c7ee 100%
    );

    position:relative;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay-content{
    width:100%;
    height:100%;
    padding:40px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.logo-box{
    width:100%;
}

.logo-box h1{
    font-size:55px;
    font-weight:800;
    margin-bottom:0;
}

.logo-box p{
    font-size:18px;
    opacity:0.9;
}


.image-area{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
}

.image-area img{
    width: 380px;
    border-radius: 25px;
    object-fit: cover;

    box-shadow: 0 15px 35px rgba(0,0,0,0.20);

    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


.info-cards{
    width:100%;
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:20px;
}

.info-card{
    background:white;
    color:#1f4e79;
    padding:25px;
    border-radius:22px;
    width:230px;
    text-align:center;
    border:1px solid #dff5ef;

    box-shadow:0 4px 12px rgba(0,0,0,0.05);

    font-weight:600;
}

.info-card i{
    font-size:30px;
    display:block;
    margin-bottom:10px;
}

.info-card{
    transition: 0.3s;
    cursor:pointer;
}

.info-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.20);
    background: #f4fffb;
}



.bottom-text{
    text-align:center;
    font-size:24px;
    font-weight:300;
    max-width:650px;
    margin-bottom:20px;
    opacity:0.95;
}



.right-panel{
    background: #f4f8fc;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.login-container{
    width:100%;
    max-width:420px;
}

.top-register{
    position:absolute;
    top:40px;
    right:40px;

    display:flex;
    align-items:center;
    gap:15px;
}

.login-form h2{
    font-size:58px;
    color:#0d4d7d;
    margin-bottom:50px;
    font-weight:700;
}

.form-label{
    font-weight:600;
    color:#234;
    font-size:18px;
    margin-bottom:10px;
}

.custom-input{
    background:#f7fbff;
    height:55px;
    border-radius:16px;
    border:1px solid #d9e8f5;
    font-size:16px;
    padding-left:20px;
    color:#1f2937;

}

.custom-input:focus{
    border:1px solid #2d9cdb;
    border-color: #7ed6c2;
    box-shadow: 0 0 4px rgba(126, 214, 194, 0.15);
    background:white;
}

.forgot-link{
    color:#0d4d7d;
    text-decoration:none;
    font-weight:500;
}

.login-btn{
    height:58px;
    border:none;
    border-radius:18px;
    background:#0d4d7d;
    font-weight:600;
    box-shadow:0 8px 18px rgba(13, 77, 125, 0.18);
    color:white;
    transition:0.3s;
}

.login-btn:hover{
    background:#0b4269;
    transform: translateY(-1px);
}



@media(max-width:991px){

    body{
        overflow:auto;
    }

    .right-panel{
        padding:40px;
    }

    .login-form h2{
        font-size:40px;
    }

    .top-register{
        position:relative;
        top:0;
        right:0;
        justify-content:flex-end;
        margin-bottom:40px;
    }

}

.login-form{
    animation: fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateX(40px);
    }

    to{
        opacity:1;
        transform: translateX(0);
    }
}